.title-name {
  color: white;
  text-align: center;
  font-family: "Alien League Bold";
  font-size: 95px;
  letter-spacing: 20px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.title-image {
  width: 240px;
  height: 240px;
  position: absolute;
  left: 41%;
}

body { 
  margin: 0; 
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
}
    
svg {
  background-color: black;
  width: 100%;
  height: 100%;
}

.bounding-box {
  fill-opacity: 0;
}

.label {
  font-family: monospace;
  opacity: 1;
  font-size: 15px;
  fill: #fff;
  z-index: 1;
}

.info {
  font-family: monospace;
  opacity: 1;
  font-size: 15px;
  fill: #fff;
}

.planet circle, .graticule {
  fill: none;
  stroke: #123;
  stroke-opacity: 0.15;
}

.planet circle {
  stroke-width: 1px;
  cursor: pointer;
}

.axis-line {
  stroke: #fff;
  stroke-opacity: 0.3;   
}

.star {
  fill: white;
  opacity: 1;
}

.more-info {
  transform: translate(500px, 500px);
  fill: red;
  stroke: red;
}