#more-info {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: monospace;
  font-size: 27px;
  top: 500px;
  height: 500px;
  /* width: 562px; */
  width: 470px;
  text-align: center;
  /* left: 140px; */
  left: 110px;
  list-style: none;
}

.more-info-instruction-1 {
  color: white;
  font-family: monospace;
  font-size: 36px;
  margin-top: 72px;
  padding-bottom: 50px;
  border-bottom: 3px groove white;
  border-radius: 10%;

}
.more-info-instruction-2 {
  color: white;
  font-family: monospace;
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.more-info-instruction-3 {
  color: white;
  font-family: monospace;
  font-size: 36px;
  padding-top: 50px;
  border-top: 3px groove white;
  border-radius: 10%;
}
.more-info-title {
  color: white;
  font-family: "Alien League Bold";
  font-size: 85px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#more-info > li {
  padding-bottom: 20px;
  text-align: left
}
