.innerCont {
  overflow: auto; 
  top:490px; 
  left: 600px; 
  height:750px; 
  Width:1200;
  position: relative;
  overflow: hidden;
}

#chart {
  height:1200px;
  width:900px;
}

#chart text {
  fill: white;
  font-family: monospace;
  text-anchor: end;
  font-size: 20px!important;
  
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

path {
  stroke: white;
  stroke-width: 2;
  fill: none;
}

.legend-text {
  font-size: 20px!important;
  font-family: monospace!important;
}

#sun {
  animation: glowing 2000ms infinite;
  stroke-width: 5px;
}

@keyframes glowing {
  0% { stroke: #FB8933; box-shadow: 0 0 3px #FB8933; }
  50% { stroke: #fdb341; box-shadow: 0 0 40px #fdb341; }
  100% { stroke: #FB8933; box-shadow: 0 0 3px #FB8933; }
}
