#more-info {
  position: absolute;
  z-index: 2;
  color: white;
  font-family: monospace;
  font-size: 27px;
  top: 500px;
  height: 500px;
  width: 562px;
  text-align: center;
  left: 200px;
  list-style: none;
}

.more-info-title-start {
  color: white;
  font-family: monospace;
  font-size: 60px;
  margin-top: 130px;
}
.more-info-title {
  color: white;
  font-family: "Alien League Bold";
  font-size: 85px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#more-info > li {
  padding-bottom: 20px;
  text-align: left
}
